.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.legend-key {
    width:24px;
    height:24px;
    border: 1px solid #444;
    border-radius:5px;
}
.table-light.hovercolor:hover {
    background-color:#eaeaea;
}
.table-secondary.hovercolor:hover {
    background-color:#cacaca;
}
/*******************************
**  Loading Animation Styles  **
*******************************/
  
.cover {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000000 !important;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
}

.pong-loader {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    height: 40px;
    width: 6px;
    background-color: transparent;
    animation: paddles 0.75s ease-out infinite;
    transform: translate3d(0,0,0);
}

.pong-loader:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: ballbounce 0.6s ease-out infinite;
}


@keyframes paddles {
    0% {
        box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
    50% {
        box-shadow: -25px 8px 0px #fff, 25px -10px 0px #fff;
    }
    100% {
        box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
}

@keyframes ballbounce {
    0%{
        transform: translateX(-20px) scale(1,1.2);
    }
    25%{
        transform: scale(1.2,1);
    }
    50% {
        transform: translateX(15px) scale(1,1.2);
    }
    75% {
        transform: scale(1.2,1);
    }
    100% {
        transform: translateX(-20px);
    }
}